@import "../settings/fonts";
@import "../settings/colors";

@mixin button {
  background: none;
  border: none;
  margin: 1rem 2rem;
  padding: 0.5rem;
  font-family: inherit;
  border: 1px solid transparent;

  @content;
}

@mixin input {
  background: none;
  border: none;
  border-bottom: 1px solid $color-darkGrey;
  padding: 0.5rem;
  font-family: inherit;

  @content;
}
