@import "../settings/fonts";
@import "../settings/colors";
@import "../settings/mixins";

.giveaway-form {
  width: 100vw;
  min-height: 100vh;

  .form-banner {
    width: 100vw;
    padding: 3rem 7rem;
    background-color: $color-yellow;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin-bottom: 0.5rem;
      font-size: 2.2rem;
      font-weight: 600;
    }
    p {
      font-size: 1.3rem;
    }
  }
  .form-box {
    min-height: 80vh;
    background-image: url("../assets/Background-Form.jpg");
    background-size: cover;
    background-position: center;

    font-size: 1.3rem;

    .form-buttons {
      button {
        @include button;
        padding: 1rem;
        border-color: $color-darkGrey;
        font-weight: 300;
      }
    }
  }
  .form-summary {
    width: 40vw;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1 {
      font-size: 2rem;
      font-weight: 600;
      color: black;
    }
    h2 {
      font-weight: 600;
      color: black;
    }
    .summary-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .summary-adress,
      .summary-date {
        width: 40%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .thanks-div {
    width: 45%;
    padding: 16% 10%;

    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 3.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
      margin: 2.4rem;
    }
  }
}
