@import "../settings/fonts";
@import "../settings/colors";
@import "../settings/mixins";

.threecolumns {
  max-width: 100vw;
  height: 20rem;
  //   padding: 0 10rem;
  background: transparent url("../assets/3Columns-Background.png") 0% 0%
    no-repeat padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
  &-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .column {
      width: 20rem;
      margin: 0 5rem;

      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;

      h2 {
        color: $color-oldGold;
        font-weight: 300;
        font-size: 5.5rem;
      }
      h3 {
        margin: 0.7rem 0 1.8rem 0;
        font-size: 1.2rem;
        text-transform: uppercase;
      }
      p {
        font-weight: 300;
      }
    }
  }
}
